body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #f7f7f7, #ffffff);
    text-align: center;
    color: #333;
    height: 100vh;
    background: white;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.language-selector {
    text-align: left;
    margin-bottom: 20px;
}

.logo img {
    width: 60px;
    margin: 20px 0;
}

.login-form input {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #165db8;
}

.forgot-password a {
    display: block;
    margin: 10px 0;
    color: #1877f2;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.create-account button {
    width: 100%;
    padding: 10px;
    background-color: #42b72a;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: 3s;
}



